/*Datos personales: Carmen Méndez Camino UO299841*/

/*Estilos generales del proyecto MotoGP-Desktop*/
/*Paleta de colores en RGB: Rojo #5A1400 ; Amarillo #E8AD3B ; Marrón oscuro #111613 ; Blanco no puro #ECede6*/
/* Hereda fuentes predeterminadas del navegador, aplica un color de fondo y un color de texto */
/* especificidad: 001 */
body{
    font-family: Helvetica, Arial, sans-serif ;
    background-color: #ECede6; 
    color: #111613;
}

/* especificidad: 001 */
header{ /*Hereda "color" de body*/
    background-color: #E8AD3B;
}

/* especificidad: 002 */
header a{
    color: #111613; /*hereda el color de texto de body */
    text-decoration-line:none;
}

/* especificidad: 001 */
h1, nav{ /*Hereda "background-color" de header*/
    color: #5A1400;
}


/* especificidad: 002 */
p:first-child{ /*Hereda "color","background-color","font-family" de body*/
    font-size: 0.8em; /*em es relativo*/
}

/* especificidad: 002 */
/* Hereda de body el color de fondo y de nav el color de texto */
nav a[href="index.html"] {
    color: #5A1400;
}

/* Ajuste para contenedor del mapa u otros elementos de sección */
/* especificidad: 003 */
/* Los elementos en el article pueden heredar propiedades como color o fuente de body */
main > section:nth-of-type(3) > article {
    background-color: #eee;
}

/* Ocultar el texto del nombre de archivo en inputs de tipo file */
/* especificidad: 002 */
/* Las propiedades font-size y color se heredan de los contenedores del label, o si no del body */
label > input[type="file"] {
    font-size: 0;
    color: transparent; 
}

/* Botón visible y con tamaño legible */
/* especificidad: 001 */
label > input[type="file"]::file-selector-button {
    font-size: 1rem;
}

/*especificacion (0,1,2)*/
/*Hereda de body en este caso el background*/
header a.active {
    color: #5A1400;
}