/* Datos personales: Carmen Méndez Camino UO299841 */

/* Estilos generales del proyecto Tarragona-Desktop */
/* Paleta de colores en RGB: Rojo #5A1400 ; Amarillo #E8AD3B ; Marrón oscuro #111613 ; Blanco no puro #ECede6 */

/* body */
/* Hereda fuentes predeterminadas del navegador, aplica un color de fondo y un color de texto */
/* Especificidad: 0,0,1 */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ECede6;
    color: #111613;
}

/* header */
/* Hereda fuentes de body. Define fondo específico para la cabecera */
/* Especificidad: 0,0,1 */
header {
    background-color: #E8AD3B;
}

/* header a */
/* Hereda color de body a través de header. Se redefine para navegación */
/* Especificidad: 0,0,2 */
header a {
    color: #111613; /* Redefinición de color para enlaces en cabecera */
    text-decoration-line: none;
}

/* h1, nav */
/* Heredan fondo de header. Se aplica color específico de la marca */
/* Especificidad: 0,0,1 */
h1, nav {
    color: #5A1400;
}

/* body > p:first-of-type (migas de pan) */
/* Hereda color y fuente de body. Se ajusta tamaño para migas de pan */
/* Especificidad: 0,0,2 */
body > p:first-of-type {
    font-size: 0.8rem;
}

/* label > input[type="file"] */
/* Hereda propiedades de fuente del contenedor. Se oculta texto nativo para personalización */
/* Especificidad: 0,0,2 */
label > input[type="file"] {
    font-size: 0;
    color: transparent; /* Justificación: Se oculta para usar ::file-selector-button personalizado */
}

/*especificacion (0,1,2)*/
/*Hereda de body en este caso el background*/
header a.active {
    color: #5A1400;
}